---
layout: default
---

<div class="home">
    {% for post in paginator.posts %}
    <div id="page" class="box">
        <div class="post-date">
            {{ post.date | date: "%b %-d, %Y" }}
        </div>
        <div class="post-body">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          {{ post.content }}
        </div>
    </div>
    {% endfor %}
    
      <div class="paginator">
        <div class="step-links">
          {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}">Newer Posts</a>
          {% endif %}
          {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}"><span class="older">Older Posts</span></a>
          {% endif %}
        </div>
      </div>
</div>
