<header class="header">
    <div class="header-main">
        <div class="nav-list">
            <ul>
                <li><a href="/about/">关于</a></li>
                <li><a href="">简历</a></li>
                <li><a href="http://www.douban.com/people/89766735/">豆瓣</a></li>
                <li><a href="https://github.com/protream/">Github</a></li>
            </ul>
            </div>
        <div class="rss">
           <a href="/feed.xml"><img src="/imges/rss.png" alt=""></a>
        </div>
    </div>
</header>
